@import url("https://rsms.me/inter/inter.css");

* {
  -webkit-tap-highlight-color: transparent;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}

:root {
  --ion-font-family: "Inter", sans-serif;
  --ion-background-color: #f9f9f9;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.page-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.btns {
  height: 60px;
  width: 319px;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #ffffff;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin-bottom: 20px;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  transform: translateY(0);
}
.btns.ripple {
  background-position: center;
  transition: background 0.8s;
}
.btns.ripple:hover {
  background: #fff radial-gradient(circle, transparent 1%, #fff 1%) 50%/16000%;
}
.btns.ripple:active {
  background-color: #ededed;
  background-size: 100%;
  transition: background 0s;
}

.submit-btns.ripple {
  background-position: center;
  transition: background 0.8s;
}
.submit-btns.ripple:hover {
  background: #ffa318 radial-gradient(circle, transparent 1%, #ffa318 1%) 50%/16000%;
}
.submit-btns.ripple:active {
  background-color: #ffd28e;
  background-size: 100%;
  transition: background 0s;
}

.submit-btns {
  font-family: "Inter", sans-serif;
  height: 60px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: white;
  margin-top: 10px;
  background: #ffa318;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 10%);
  border: none;
  font-size: 16px;
}

.back-btn {
  background-color: #ffe7b9;
  color: #ff9900;
  border-radius: 50%;
  margin-right: 10px;
  padding: 6px;
  font-size: 17px;
}

.div-or {
  width: 100px;
  height: 0.5px;
  background: #58616a;
  border: none;
  outline: none;
}

.or {
  display: flex;
  align-items: center;
  justify-content: center;
}

.or span {
  margin: 20px;
}

.field {
  height: 50px;
  width: 100%;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #ffffff;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

input.field:focus {
  outline: none;
  border: none;
}

input:disabled {
  opacity: 0.7;
}

.schemecard {
  display: flex;
  align-items: center;
  padding: 15px 15px;
  margin: 10px 0px;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #ffffff;
  filter: drop-shadow(0px 2px 2px rgba(138, 138, 138, 0.1));
  -webkit-tap-highlight-color: transparent;
  border-radius: 15px;
  border: 1px solid #e0e0e0;
}

.schemecard.ripple {
  background-position: center;
  transition: background 0.8s;
}
.schemecard.ripple:hover {
  background: #fff radial-gradient(circle, transparent 1%, #fff 1%) 50%/16000%;
}
.schemecard.ripple:active {
  background-color: #ededed;
  background-size: 100%;
  transition: background 0s;
}

.toolbar {
  position: fixed;
  bottom: -4px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffa318;
}

.tab-icon {
  width: 22px;
}

input[type="date"] {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -1px;
}

input[type="radio"] {
  margin: 0;
}

option {
  cursor: pointer;
}

select:focus {
  border: none;
  outline: none;
  cursor: pointer;
}

.filter-tabs {
  height: 35px;
  width: 100px;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #ffffff;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin: 5px 10px 5px 0px;
  cursor: pointer;
  border: 0.1px solid grey;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  transform: translateY(0);
}

.selector-item {
  height: 35px;
  width: 100px;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #ffffff;
  font-weight: 500;
  margin: 5px 10px 5px 0px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: normal;
  font-size: 13.33px;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
}
.selector-item_radio {
  appearance: none;
  display: none;
}

.selector-item_radio ~ label {
  height: 35px;
  width: 110px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  transform: translateY(0);
}

.selector-item_radio:checked ~ label {
  background-color: #fff0d3;
  color: #ff9900;
  height: 35px;
  width: 110px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  border: 0.2px solid #ffae35;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  transform: translateY(0);
}

.alert-btn {
  width: 100%;
  height: 48px;
  font-weight: 500;
  background: #ffc758;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 25px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.curve {
  border-radius: 0% 0% 100% 50% / 0% 0% 15% 15%;
  background-color: #ffa318;
  height: 320px;
}

.exp-card {
  background-color: #fff;
  height: 200px;
  /* display: flex; */
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
  font-weight: 500;
  margin: 20px 20px;
  cursor: pointer;
  outline: none;
}

.card-sm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #f6764a;
  border-radius: 8px;
  filter: drop-shadow(0px 2px 4px rgba(252, 252, 252, 0.4));
  cursor: pointer;
  outline: none;
}

.exp-illus {
  text-align: end;
  padding-top: 49px;
}
.exp-illus > img {
  width: 195px;
}

.exp-btn {
  width: 130px;
  height: 35px;
  color: white;
  background: #ffa318;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  border: none;
  text-align: left;
  padding-left: 20px;
}

.card-schemes {
  background-color: #fff;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  border-radius: 12px;
  font-weight: 500;
  margin-left: 20px;
  cursor: pointer;
  outline: none;
  text-align: center;
  flex: none;
  width: 250px;
  margin: 2px 0 2px 20px;
}

.card-s-sub {
  font-size: 15px;
  text-align: left;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
}

.card-sub-sname {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 4px;
  margin-top: 0;
}

.s-img {
  width: 44px;
}

.container {
  display: flex;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.s-success {
  background: #e1f5e9;
  border-radius: 12px;
  margin: auto 20px;
  display: flex;
  align-items: center;
  padding: 15px 10px;
  margin-bottom: 15px;
}
.s-pending {
  background: #ffe4af;
  border-radius: 12px;
  margin: auto 20px;
  display: flex;
  align-items: center;
  padding: 15px 10px;
  margin-bottom: 15px;
}
.s-reverted {
  background: #ffbebf;
  border-radius: 12px;
  margin: auto 20px;
  display: flex;
  align-items: center;
  padding: 15px 10px;
  margin-bottom: 15px;
}

.curve-2 {
  border-radius: 0% 0% 100% 50% / 0% 0% 15% 15%;
  background-color: #ffa318;
  height: 130px;
  background-image: url("../assets/images/banner2.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.grid-container {
  display: grid;
  gap: 20px;
  padding: 0px 20px;
  margin: 40px auto 30px;
  justify-items: center;
}

.a-card {
  background: #ffffff;
  border: 1px solid #c2c2c2;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  width: 100%;
  max-width: 250px;
  height: 100px;
  color: black;
  margin-top: 27.5px;
  position: relative;
  display: flex;
  justify-content: center;
}

.a-card-text {
  position: absolute;
  text-align: center;
  bottom: 5px;
  font-weight: 500;
  word-wrap: break-word;
  font-size: 15px;
}

.c-item {
  position: absolute;
  width: 110px;
  height: 55px;
  top: -27.5px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.c-1 {
  background: #7cbaf3;
}

.c-2 {
  background-color: #7cdb8b;
}

.c-3 {
  background-color: #ffd028;
}

.c-4 {
  background-color: #ff6d6d;
}

.item1a {
  grid-column: 1;
  grid-row: 1;
}

.item1b {
  grid-column: 2;
  grid-row: 1;
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}
.item2 {
  grid-column: 1;
  grid-row: 2;
}
.item3 {
  grid-column: 2;
  grid-row: 2;
}

.preview-input-grid {
  display: flex;
  width: 100%;
}

.input-grid-item-l {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background: #5d5d5d;
  width: 150px;
  padding: 15px;
}

.input-grid-item-l::placeholder {
  color: #f2f2f2;
}

.input-grid-item-r {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 15px;
}

.approve-btn.ripple {
  background-position: center;
  transition: background 0.8s;
}
.approve-btn.ripple:hover {
  background: #44c47e radial-gradient(circle, transparent 1%, #44c47e 1%) 50%/16000%;
}
.approve-btn.ripple:active {
  background-color: #67d79a;
  background-size: 100%;
  transition: background 0s;
}

.approve-btn {
  font-family: "Inter", sans-serif;
  height: 60px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: white;
  margin-top: 10px;
  background: #44c47e;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 10%);
  border: none;
  font-size: 16px;
}

.grid-btn {
  display: grid;
  gap: 15px;
  margin-bottom: 25px;
}

.revert-btn.ripple {
  background-position: center;
  transition: background 0.8s;
}
.revert-btn.ripple:hover {
  background: #fb5c5c radial-gradient(circle, transparent 1%, #fb5c5c 1%) 50%/16000%;
}
.revert-btn.ripple:active {
  background-color: #ff8183;
  background-size: 100%;
  transition: background 0s;
}

.revert-btn {
  font-family: "Inter", sans-serif;
  height: 60px;
  width: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: white;
  margin-top: 10px;
  background: #fb5c5c;
  box-shadow: 0px 1px 2px rgb(0 0 0 / 10%);
  border: none;
  font-size: 16px;
}

textarea {
  height: 120px;
  width: 100%;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #ffffff;
  border-radius: 8px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #c3c3c3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

textarea:focus {
  border: 2px solid #c3c3c3;
  outline: none;
}

.country-code:disabled {
  color: rgb(84, 84, 84);
  opacity: 0.9;
}

/* PROFILE TEST */

.bg img {
  width: 100%;
  margin-top: 0;
}

.container1 {
  padding: 20px;
}

.img__profile {
  display: grid;
  position: relative;
}

.img__profile img {
  width: 150px;
  height: 150px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: -100px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 200px;
  box-shadow: 0px 40px 40px rgba(32, 79, 211, 0.16);
}

.name {
  font-size: 20px;
  line-height: 54px;
  text-align: center;
  font-weight: 600;
  font-style: normal;
  color: #011341;
}

.id {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  font-style: normal;
  color: #828282;
  text-align: center;
  margin-top: -15px;
}

/* Item Section */
.item {
  padding: 10px;
  display: grid;
  margin-top: 50px;
  margin: 10px;
  grid-template-columns: 15% 80% 10%;
  color: #011341;
  align-items: center;
}

.item img {
  width: 24px;
}

.item span {
  font-style: normal;
  font-weight: 550;
  padding: 8px;
  line-height: 16px;
}

.item__logout {
  padding: 10px;
  display: grid;
  margin-top: 3rem !important;
  margin: 10px;
  grid-template-columns: 15% 80% 10%;
  color: #011341;
}

.item__logout img {
  width: 24px;
}

.item__logout span {
  font-style: normal;
  font-weight: 550;
  padding: 8px;
  line-height: 16px;
}

.full-page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modalBackground {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modalContainer {
  width: 300px;
  height: 50%;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  margin: unset;
  padding: 30px 20px;
  align-items: center;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: center;
}

.goto-btn {
  background-color: #deffca;
  color: #5cd015;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  cursor: pointer;
  border: 0.2px solid #5cd015;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  transform: translateY(0);
  margin-top: 10px;
}

.curve-i {
  border-radius: 0% 0% 100% 50% / 0% 0% 15% 15%;
  background-color: #ffa318;
  height: 152px;
  margin-bottom: 35px;
}

.clg-name-card {
  display: flex;
  align-items: center;
  color: #7e7e7e;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  text-align: center;
  padding: 10px;
  background: #ffffff;
  border-bottom: 3.5px solid hsl(34, 97%, 64%);
  justify-content: center;
}

.order-track {
  padding: 0 12px;
  display: flex;
  flex-direction: column;
}
.order-track-step {
  display: flex;
  height: 80px;
}
.order-track-step:last-child {
  overflow: hidden;
  height: 80px;
}
.order-track-step:last-child .order-track-status span:last-of-type {
  display: none;
}
.order-track-status {
  margin-right: 15px;
  position: relative;
}
.order-track-status-dot {
  display: block;
  width: 20px;
  height: 209px;
  border-radius: 50%;
  background: #f05a00;
}
.order-track-status-line {
  display: block;
  margin: 0 auto;
  width: 2px;
  height: 80px;
  background: #f05a00;
}
.order-track-text-stat {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 3px;
}
.order-track-text-sub {
  font-size: 12px;
  font-weight: 300;
}

.order-track {
  transition: all 0.3s height 0.3s;
  transform-origin: top center;
}

input::file-selector-button {
  height: 50px;
  width: 100%;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #ffffff;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  display: block;
}
